Options -Indexes
#
RewriteEngine On

RewriteRule ^.*$ public/index.php [NC,L]
#--------New Code---------


RewriteCond %{THE_REQUEST} /public/([^\s?]*) [NC]
RewriteRule ^ %1 [L,NE,R=302]

RewriteRule ^((?!public/.).*)$ public/$1 [L,NC]


#<IfModule mod_rewrite.c>
#    RewriteEngine On
#
#    RewriteRule ^(.*)$ public/$1 [L]
#</IfModule>